
body{
  margin: 0;

  font-family: 'Architects Daughter', cursive;
  font-weight:bold;

}

#page {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 50px;
}

#background-img{
  width: 100%;
  position: absolute;
  left:0;
  top:0;
  z-index: -1;
}
h1{
   margin-top:60px;
   margin-bottom: 60px;
   font-family: 'Indie Flower', cursive;
   font-size: 72px;
}

#board {
  
  margin: auto;
  width: 80%;
  padding-top: 40px;
  padding-bottom: 40px;
  border-width: 6px;
  border-radius: 10px;
  border-style: double;
  border-color: black;
  background-image:url(blank-page.jpg);
  text-align: center;
}

.player-number-btn,.sign-btn,.difficulty-btn{
  color:#3b80ef;
  margin-bottom: 10px;
}
.sign-btn{
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
}
.player-number-btn:hover,.sign-btn:hover,.difficulty-btn:hover{
  text-shadow: 2px 2px 0px;
}


#playing-field {
  position: relative;
  margin: 80px auto; 
  width: 60%;
  padding:0;

}
.row{
  display: flex;
  justify-content: space-evenly;
}

.play-btn {
  flex: 1 0 30%;
  height: 140px;
  padding-top: 10%;
  border: 4px solid rgba(128,128,128,1.0);
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
  color: grey;
}
.play-btn:hover{
  background: rgba(221, 210, 189, 0.6);
}


#btn1, #btn2, #btn3 {
  border-top: 0px;
}

#btn7, #btn8, #btn9 {
  border-bottom: 0px;
}

#btn1, #btn4, #btn7 {
  border-left: 0px;
}

#btn3, #btn6, #btn9 {
  border-right: 0px;
}


#reset-all {
  border:none;
  background: none;
  color: #2981e5;
  margin-bottom: 0px;
}
#reset-all:hover{
  text-shadow: 3px 0 0;
}
#result{
  position:absolute;
  box-sizing: border-box;
  top:0;
  left:0;
  padding-top: 40%;;
  background-image: url('blank-page.jpg');
  opacity: 0.7;
  height:100%;
  width:100%;
  color:black;
  font-size: 84px;
  font-weight: bold;
}
#turn1,#turn2{
  position:absolute;
  background-image: url('blank-page.jpg');
  writing-mode: vertical-rl;
  text-orientation:upright;
  width: 70px;
  padding: 0px;
  text-align: center;
}
#turn1{
  top: 0px;
  margin-left: -220px;
}
#turn2{
  top: 0px;
  right: -120px;
}
