
body{
  margin: 0;

  font-family: 'Architects Daughter', cursive;
  font-weight:bold;

}

#page {
  position: relative;
  width: 100%;
  text-align: center;
}

#background-img{
  width: 100%;
  position: absolute;
  left:0;
  top:0;
  z-index: -1;
}
h1{
   margin-top:20px;
   margin-bottom: 20px;
   font-family: 'Indie Flower', cursive;
   font-size: 32px;
}

#board {
  
  margin: auto;
  width: 74%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-width: 6px;
  border-radius: 10px;
  border-style: double;
  border-color: black;
  background-image:url(blank-page.jpg);
  text-align: center;
}

.player-number-btn,.sign-btn,.difficulty-btn{
  color:#3b80ef;
  margin-bottom: 10px;
  cursor: pointer;
}
.sign-btn{
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
.player-number-btn:hover,.sign-btn:hover,.difficulty-btn:hover{
  text-shadow: 1px 1px 0px;
}


#playing-field {
  position: relative;
  margin: 20px auto; 
  width: 60%;
  padding:0;
}
.row{
  display: flex;
  justify-content: space-evenly;
}

.play-btn {
  flex: 1 0 30%;
  height: 50px;
  border: 1px solid rgba(128,128,128,1.0);
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
  color: grey;
  cursor: pointer;
}
.play-btn:hover{
  background: rgba(221, 210, 189, 0.6);
}


#btn1, #btn2, #btn3 {
  border-top: 0px;
}

#btn7, #btn8, #btn9 {
  border-bottom: 0px;
}

#btn1, #btn4, #btn7 {
  border-left: 0px;
}

#btn3, #btn6, #btn9 {
  border-right: 0px;
}


#reset-all {
  border:none;
  background: none;
  color: #2981e5;
  margin-bottom: 0px;
}
#reset-all:hover{
  text-shadow: 1px 0 0;
}
#result{
  position:absolute;
  box-sizing: border-box;
  top:0;
  left:0;
  padding-top: 22%;;
  background-image: url('blank-page.jpg');
  opacity: 0.7;
  height:100%;
  width:100%;
  color:black;
  font-size: 32px;
  font-weight: bold;
}
#turn1,#turn2{
  position:absolute;
  background-image: url('blank-page.jpg');
  writing-mode: vertical-rl;
  text-orientation:upright;
  width: 20px;
  padding: 0px;
  text-align: center;
  font-size: 13px;
}
#turn1{
  top: 8px !important;
  margin: 0;
  height: 100%;
  left: -40px !important;
}
#turn2{
  top: 8px !important;
  right: -40px;
}


@media only screen and (min-width:768px){
  #page{
    font-size: 24px;
  }
  h1{
    font-size: 48px;
  }
  #board{
    width: 400px;
  }
  #playing-field {
    margin: 50px auto; 
  }
  .play-btn,.sign-btn{
    height: 88px;
    font-size: 48px;
    padding-top: 0;
  }
  #turn1,#turn2{
    font-size: 22px;
    width: 32px;
  }
  #turn1{
    top: 0px;
    margin: 0;
    left: -68px !important;
  }
  #turn2{
    top: 0px;
    margin:0;
    right: -68px;
  }
  #result{
    font-size: 42px;
    padding-top: 28%;
  }
}